@tailwind base;
@tailwind components;
@tailwind utilities;

/* Style scroll bar */
.large-scroll {
  scrollbar-width: thin;
  scrollbar-color: rgba(16, 62, 71, 1) transparent;
  scroll-margin: 2.75rem;
}
.no-scroll{
  scrollbar-width: none;
}

input:focus, textarea:focus{
  outline: none;
}
input{
  background: none;
}
option, option:focus, option:hover, select, select:focus, select:hover, select::-ms-expand{
  background: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input[type=number]{
    -moz-appearance: textfield;
}
input[type=file]{
  display: none;
}